<!-- searchform.tmpl -->

<form action="{{.Base}}/request" method="get" name="das_search" id="das_search" class="das_form">
<table>
<tr>
<td class="right">
results format:
<select id="view" name="view">
{{range $v := .Views }}
<option class="sand" value="{{$v}}">{{$v}}</option>
{{ end }}
</select>,
</td>
<td class="left">
&nbsp;
<select id="limit" name="limit">
<option class="sand" value="50">50</option>
<option class="sand" value="100">100</option>
<option class="sand" value="150">150</option>
</select>
results/page,
</td>
<td class="right">
&nbsp; 
dbs instance
<select id="instance" name="instance">
{{range $d := .DBSes }}
<option class="sand" value="{{$d}}">{{$d}}</option>
{{ end }}
</select>
,
</td>
<td class="right">
&nbsp;
<input type="submit" value="Search" class="btn borders" />
<input type="button" class="btn borders" onclick="javascript:clear_input()" value="Reset" />
</td>
</tr>
</table>
<div class="autocomplete">
<input type="text" name="input" id="input" style="width:100%;" />
</div>
<span>
<a href="javascript:FlipTag('das_keys_desc');"><b>Show DAS keys description</b></a>
</span>
</form>
<div class="right">
<img src="{{.Base}}/images/mongodb_logo.png" alt="Powered by MongoDB" width="5%" />
</div>

<script type="text/javascript">
//<![CDATA[
updateInput(getUrlParam('input'), '{{.DBSinstance}}');
function dbs_inst() {
   var doc = document.getElementById('instance');
   return doc.value;
}
function clear_input() {
    // clear input field
    var doc = document.getElementById('input');
    doc.value = "";
}
//]]>
</script>
<!-- end of das_searchform.tmpl -->

{{.Cards}}
<div class="hide" id="das_keys_desc">
<div class="overlay all-side-shadow">
<div align="right"><a href="javascript:HideTag('das_keys_desc')"><b>Hide</b></a></div>
<h3>DAS keys description</h3>
The following is a list of DAS keys which can be used to form your DAS query
{{.Daskeys}}
</div>
</div>

<script type="text/javascript">
function HideDasKeys(e) {
    var element = Event.element(e);
    if (e.keyCode == Event.KEY_ESC) {
        HideTag('das_keys_desc');
    }
}
document.observe('keydown', HideDasKeys);
// It should observe given tag (code below), but somehow does not
//$('das_keys_desc').observe('keydown', HideDasKeys);

// Show DAS cards when there is no input on a page
if(getUrlParam('input')=="") {
    ShowTag('das_cards')
}

// clean-up response field
function processRequest() {
   var doc = document.getElementById('response');
   if (doc != null) {
       doc.innerHTML='<img alt="Start" src="{{.Base}}/images/loading.gif"> processing your request, please wait ...';
   }
}
// processRequest()
</script>

<div id="response" name="response" class="results"> <!-- we close this tag in das_bottom.tmpl -->

